@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~antd/dist/antd.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
body {
  background-color: #f1f1f1 !important;
  height: 100%;
  overflow-x: hidden;
}
.logo {
  font-size: 35px;
  color: #ff3d3d !important;
}

.nav-link-item {
  font-size: 18px;
}

.nav-link-item:active {
  font-size: 28px;
}

.nav-link-item:hover {
  font-size: 18px;
  color: blue;
}

.nav-margin {
  margin-top: 40px !important;
}

.my-bag {
  text-decoration: none !important;
  color: black;
  font-size: 18px;
}

.nav-list {
  font-size: 18px;
}

.remove-order {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.content {
  margin-top: 120px;
  min-height: 55vh !important;
}
.mycontent {
  min-height: 70vh !important;
}

.my-footer {
  bottom: 0;
  position: relative;
  width: 100%;
}

.ant-modal-wrap,
.ant-notification {
  z-index: 9999 !important;
}

.product-body {
  margin-top: 120px;
}

.color-collection .color-circle {
  width: 10px;
  height: 10px;
  background-color: #ff3d3d;
}

.btn-circle {
  width: 10px !important;
  height: 10px !important;
}

.navbar-brand {
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-dropdown {
  font-weight: bolder;
}

.sticky-top {
  z-index: 9999 !important;
  width: 100%;
}

.span-error {
  color: red;
}

tbody tr {
  cursor: pointer;
}
.card-header,
.card-footer {
  background-color: #fff !important;
}
.card {
  border-radius: 0px;
}
